.heroes-config-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--panel-height);
  padding: var(--padding);
  user-select: none;

  & > section {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    height: 100%;
  }
}

.attr-buttons {
  filter: grayscale(90%);
  & > img {
    height: 3.25rem;
    transform: scale(0.9);
    transition: transform 150ms ease-in-out;
  }

  &:hover {
    & > img {
      transform: scale(1);
    }
  }

  &:active {
    filter: none;
    transform: scale(0.9);
  }
}

.attr-buttons-active {
  &.attr-1 {
    filter: drop-shadow(0 0 5px rgba(240, 0, 0, 0.6)) !important;
  }

  &.attr-2 {
    filter: drop-shadow(0 0 5px rgba(0, 240, 0, 0.6)) !important;
  }

  &.attr-3 {
    filter: drop-shadow(0 0 5px rgba(0, 0, 240, 0.6)) !important;
  }

  &.attr-4 {
    position: relative;
    filter: none;
  }

  &.attr-4:before {
    filter: blur(1rem);
    transform: scale(0.7);
    content: "";
    border-radius: 50%;
    position: absolute;
    inset: 0;
    z-index: -1;
    background: conic-gradient(
      from 0deg,
      lightgreen 0% 29%,
      red 30% 65%,
      blue 66% 92%,
      lightgreen 93% 100%
    );
  }

  &:hover {
    & > img {
      transform: scale(1) !important;
    }
  }

  &:active {
    filter: grayscale(90%) !important;
    transform: scale(0.9);
  }
}

.complexity-buttons {
  height: 100%;
  opacity: 0.3;
  transition: opacity 300ms ease-in-out;

  & > img {
    height: 3rem;
    transform: scale(0.9);
    transition: transform 150ms ease-in-out;
  }

  &:hover {
    & > img {
      transform: scale(1);
    }
  }

  &:active {
    opacity: 1;
    transform: scale(0.9);
  }
}

.complexity-buttons-active {
  opacity: 1 !important;

  &:hover {
    & > img {
      transform: scale(1) !important;
    }
  }

  &:active {
    opacity: 0.3 !important;
    transform: scale(0.9);
  }
}
