.heroes-config-panel {
  display: flex;
  justify-content: space-between;
  height: var(--panel-height);
  align-items: center;
  vertical-align: top;
  padding: 0.5rem var(--padding);
  border: 1px solid rgba(10, 4, 4, 0.8);
  box-shadow: 0px 0px 30px rgba(10, 10, 10, 0.3);
  border-radius: 3px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  user-select: none;

  & > section {
    height: 100%;
    min-width: 200px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }
}

.attr-buttons {
  filter: grayscale(90%);
  transition: filter 300ms ease-in-out;

  & > img {
    height: 2.75rem;
    transform: scale(0.9);
    transition: transform 150ms ease-in-out;
  }

  &:hover {
    & > img {
      transform: scale(1);
    }
  }

  &:active {
    filter: none;
    transform: scale(0.9);
  }
}

.attr-buttons-active {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5)) !important;

  &:hover {
    & > img {
      transform: scale(1) !important;
    }
  }

  &:active {
    filter: grayscale(90%) !important;
    transform: scale(0.9);
  }
}

.complexity-buttons {
  height: 100%;
  opacity: 0.3;
  transition: opacity 300ms ease-in-out;

  & > img {
    height: 2.5rem;
    transform: scale(0.9);
    transition: transform 150ms ease-in-out;
  }

  &:hover {
    & > img {
      transform: scale(1);
    }
  }

  &:active {
    opacity: 1;
    transform: scale(0.9);
  }
}

.complexity-buttons-active {
  opacity: 1 !important;

  &:hover {
    & > img {
      transform: scale(1) !important;
    }
  }

  &:active {
    opacity: 0.3 !important;
    transform: scale(0.9);
  }
}
