.heroes-result {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.5rem;
  min-height: var(--panel-height);
  margin-bottom: 1rem;
}

.result-container {
  min-width: 30rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  padding: var(--padding);
}

.randomize-button {
  min-width: 15rem;
  font-size: 1.5rem;
  border: 2px solid white;
  padding: 0.5rem;
}

.result-image {
  max-width: 15rem;
}

.result-lane {
  font-size: 2rem;
  font-weight: 700;
}
