.heroes-result {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 48rem) {
  .heroes-result {
    max-width: var(--panel-width);
    margin: 0 auto;
  }
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  padding: var(--padding);
  border-radius: 0.5rem;
}

.randomize-button {
  min-width: 15rem;
  font-size: 1.5rem;
  border: 2px solid white;
  padding: 0.5rem;
}

.result-image {
  max-width: 15rem;
}

.result-lane {
  font-size: 2rem;
  font-weight: 700;
}
