.hero-icon {
  container-name: icon-container;
  container-type: inline-size;
  position: relative;
  display: block;
  border: 1px solid rgba(10, 10, 10, 0.7);

  border-radius: 0.5rem;
  width: 100%;
  max-width: 20rem;
  cursor: pointer;
}

.hero-image {
  width: 100%;
  border-radius: 0.5rem;
}

.hero-attr {
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
  opacity: 0.8;
  max-width: 1.3rem;
  border-radius: 50%;
  background-color: rgb(10, 10, 10);
}

.hero-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  word-wrap: break-word;
  text-shadow: 0 1px 3px rgb(0, 0, 0);
}

/* Tablet Size */
@container icon-container (width >= 6.5rem) {
  .hero-attr {
    bottom: unset;
    top: 0.2rem;
    right: 0.2rem;
    max-width: 1.5rem;
  }

  .hero-name {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    );
    border-radius: 0 0 0.5rem 0.5rem;
  }
}

/* Laptop Size */
@container icon-container (width >= 8rem) {
  .hero-attr {
    max-width: 1.8rem;
  }
  .hero-name {
    font-size: 0.85rem;
  }
}

/* Desktop Size */
@container icon-container (width >= 11rem) {
  .hero-attr {
    max-width: 2rem;
  }
  .hero-name {
    font-size: 1.1rem;
  }
}

@container icon-container (width >= 16rem) {
  .hero-attr {
    max-width: 2rem;
  }
  .hero-name {
    font-size: 1.5rem;
    bottom: 0.5rem;
  }
}
