.heroes-config-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.2rem;
  bottom: var(--padding);
  left: 0;
  right: 0;
  padding: 0 var(--padding);
}

.config-panel {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  height: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(10, 10, 10, 0.8);
  border-radius: 1rem;
  transition: height 300ms ease-in-out, padding 300ms ease-in-out, border 100ms;
}

.config-panel.visible {
  border: 1px solid white;
  height: var(--panel-height);
  padding: var(--padding);
}

.config-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 8rem;
  height: 3.5rem;
  background-color: rgba(10, 10, 10, 0.8);
  border: 1px solid white;
  border-radius: 1rem;

  & > i {
    font-size: 1.5rem;
  }
}

.panel {
  text-align: center;
  user-select: none;
}

.panel-buttons {
  display: flex;

  &.settings-panel {
    justify-content: space-evenly;
  }

  &.attr-panel {
    justify-content: space-evenly;
  }

  &.complexity-panel {
    justify-content: center;
  }
}

.setting-buttons {
  display: flex;
  align-items: center;
  height: var(--panel-buttons-height);
}

.attr-buttons {
  filter: grayscale(90%);
  & > img {
    height: var(--panel-buttons-height);
    transform: scale(0.9);
    transition: transform 150ms ease-in-out;
  }

  &:hover {
    & > img {
      transform: scale(1);
    }
  }

  &:active {
    filter: none;
    transform: scale(0.9);
  }
}

.attr-buttons-active {
  &.attr-1 {
    filter: drop-shadow(0 0 5px rgba(240, 0, 0, 0.6)) !important;
  }

  &.attr-2 {
    filter: drop-shadow(0 0 5px rgba(0, 240, 0, 0.6)) !important;
  }

  &.attr-3 {
    filter: drop-shadow(0 0 5px rgba(0, 0, 240, 0.6)) !important;
  }

  &.attr-4 {
    position: relative;
    filter: none;
  }

  &.attr-4:before {
    filter: blur(1rem);
    transform: scale(0.7);
    content: "";
    border-radius: 50%;
    position: absolute;
    inset: 0;
    z-index: -1;
    background: conic-gradient(
      from 0deg,
      lightgreen 0% 29%,
      red 30% 65%,
      blue 66% 92%,
      lightgreen 93% 100%
    );
  }

  &:hover {
    & > img {
      transform: scale(1) !important;
    }
  }

  &:active {
    filter: grayscale(90%) !important;
    transform: scale(0.9);
  }
}

.complexity-buttons {
  height: 100%;
  opacity: 0.3;
  transition: opacity 300ms ease-in-out;

  & > img {
    height: var(--panel-buttons-height);
    transform: scale(0.9);
    transition: transform 150ms ease-in-out;
  }

  &:hover {
    & > img {
      transform: scale(1);
    }
  }

  &:active {
    opacity: 1;
    transform: scale(0.9);
  }
}

.complexity-buttons-active {
  opacity: 1 !important;

  &:hover {
    & > img {
      transform: scale(1) !important;
    }
  }

  &:active {
    opacity: 0.3 !important;
    transform: scale(0.9);
  }
}
